body{
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/15/c4/da/15c4da03bc524af9b91ee676519b12b1--logos-friends-tv-show.jpg);
	background-repeat: repeat;
	background-position: bottom;
	text-align: center;
}
.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}