body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQwlhxs5gueEnbTtnMlcSYCyu1XPgZ76KbjU5QF3oGYn7h3gAY);
	text-align: center;
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}